<h1>Here are the breeds =) </h1>

<table>
  <thead>
    <td>Raça</td>
    <td>Expectativa de vida</td>
    <td>Temperamento</td>
    <td>Grupo</td>
  </thead>

  <tbody>
    <%  @racas.each do |name| %>
      <tr>
        <td><%= link_to name["name"], show_path(id: name["id"])%></td>
        <td><%= name["life_span"] %></td>
        <td><%= name["temperament"] %></td>
        <td><%= name["breed_group"] %></td>

      </tr>
    <% end %>
  </tbody>
</table>
